<!DOCTYPE html>
<html>

  <head>
    <title>home</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>
    <h1>tell me a story</h1>
    <div class="logout">
    <form action="/logout/">
      <input type="submit" name="logout" value="logout">
    </form>
    </div>

    <div class="new_story">
      <h3>publish your new story:</h3>
      <form action="/new_story/">
	<textarea cols="50" name="title" placeholder="title"></textarea>
	<br>
	<textarea cols="50" rows="15" name="content" row="40" placeholder="content"></textarea>
	<br>
      </form>
    </div>

    <div>
      {% for title in stories%}
        <a href="/story/{{ stories[title] }}">{{ title }}</a><br>
      {% endfor %}
    </div>
  </body>
</html>

