<!DOCTYPE html>
<html>

  <head>
    <title>home</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>
    <h1>tell me a story</h1>
    <div class="logout">
    <form action="/logout/">
      <input type="submit" name="logout" value="logout">
    </form>
    </div>

    <div class="new_story">
      <h3>publish your new story:</h3>
      <form action="/new_story/">
	<input type="text" name="title" placeholder="title">
	<br>
	<input type="text" name="content" placeholder="content">
      </form>
    </div>

    <div
  </body>
</html>

