<!DOCTYPE html>
<html>
    
  <head>
    <title>login</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                  <li>{{ message }}</li>
              {% endfor %}
              </ul>
        {% endif %}
    {% endwith %}
    <div id="auth">
      <form action="/auth/" method="POST">
	<h1>you're not logged in!</h1>
	username:<br>
	<input type="text" name="username"> <br>
	password:<br>
	<input type="password" name="password">
	<br><br>
	<input type="submit" name="login" value="login">
	<input type="submit" name="register" value="register">
      </form>
      </div>
  </body>
</html>

