<!DOCTYPE html>
<html>

  <head>
    <title>story</title> <!--not owner-->
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>

   <div class="title">
     <h1>story title</h1>
   </div>
   
   {% block owner %}

   {% endblock %}
   
   <div class="content">
     <p>latest update</p>
   </div>
   
   <form action="/add_content/" method="POST">
     <input type="text" name="new_content" cols="40" rows="8">
     <br>
     <input type="submit" name="submit">
   </form>

  </body>
</html>

