<!DOCTYPE html>
<html>

  <head>
    <title>story</title> <!--not owner-->
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>

    <form action="/home/">
      <input type="submit" value="back to home">
      </form>
    <div class="logout">
    <form action="/logout/">
      <input type="submit" name="logout" value="logout">
    </form>
    </div>
    
   <div class="title">
     <h1>{{title}}</h1>
   </div>
   <div class="author">
     <h3>by {{author}}</h3>
   </div>
   
   {% block owner %}

   {% endblock %}

   {% if can_add == False %}
   <div class="content">
     {% for ac in content %}
       <p>{{ac[0]}}</p>
       <p><i>- {{ac[1]}}</i></p>
     {% endfor %}
   </div>
   {% else %}
   <div class="content">
    <p>{{content[0]}}</p>
    <p><i>- {{content[1]}}</i></p>
   </div>
   <form action="/add_content/" method="GET">
     <textarea name="new_content" cols="50" rows="10"></textarea>
     <br>
     <input type="submit" name="submit" value="submit">
   </form>
   {% endif %}

  </body>
</html>

